.module {
	&.count-down {
		border: 1px solid rgba($color-blue-light-1, .8);
		color: whitesmoke;
		text-align: center;
		position: relative;
		padding: 20px 20px 20px 40px;

		img {
			width: 32px;
			position: absolute;
			top: 18px;
			left: 10px;
		}

		span {
			color: white;
			text-align: center;
			font-family: 'Share Tech Mono', monospace;
			font-size: 1.5em;
		}
	}
}