$color-blue-light-1: #5BC0DE;
$color-blue-dark-1: #215682;
$color-blue-dark-2: #2d68a1;
$color-dark: #313131;
$color-green: #4CAF50;
$color-red: #DF3748;
$color-red-2: rgba(197, 50, 61, 1);
$color-green-river: #376763;
$color-green-river-light: #4d8682;
$color-white: #fff;
$color-white-2: #f2f2f2;
$color-yellow: #ffe162;
$color-grey: #EFEFEF;
$color-grey-2: #E9EEF3;
$color-orange: #FF6600;